<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="547bd3b1-46b3-4e09-8a3a-599436b0a6af" Version="1.0.0.0" Publisher="CN=jason" />
  <Properties>
    <DisplayName>angular-seed</DisplayName>
    <PublisherDisplayName>jason</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="app/index.html">
      <VisualElements DisplayName="angular-seed" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="angular-seed" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>